{{ define "css" }}
<link rel="stylesheet" href="/css/user/new.css">
{{ end }}

{{ define "content" }}
<div class="middle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-5 form-container">
                <h1 class="title">Create an account</h1>
                <form action="/users" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-dark create-btn">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}